.tab{

    -fx-background-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0 10 0 10;
}
.tab:selected
{
    -fx-background-color: #F2FEFA;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0 0 5 0;
    -fx-border-color: #80d8ff;
}
.toggle-button {
    -fx-max-height: 32;
    -fx-max-width: 32;
    -fx-min-height: 32;
    -fx-min-width: 32;
    -fx-background-color: inherit;
    -fx-background-image: url("Images/star.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.toggle-button:selected {
    -fx-background-image: url("Images/favorites.png");
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #b2dfdb;
}
.list-cell {
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.list-cell:filled:hover {
    -fx-background-color: #e0f2f1;
}

